.slide {
  background-color: #150835;
  color: #dddaf4;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slide-zero-tilt {
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  transform: rotate(-8deg);
}

.slide-zero-title {
  font-family: 'Catamaran', sans-serif;
  font-size: 8em;
  text-transform: uppercase;
  line-height: 1em;
  padding: 60px 50px 0;
}

.slide-zero p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.button-holder {
  margin: 0px auto;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treasure-button {
  width: 80px;
  height: 80px;
  background-image: url('../Images/treasure-icon.png');
  background-position: center center;
  background-size: cover;
  border: none;
  animation-name: modulate-treasure;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  cursor: pointer;
}

@keyframes modulate-treasure {
  0% {
    height: 95px;
    width: 95px;
  }
  50% {
    height: 105px;
    width: 105px;
  }
  100% {
    height: 95px;
    width: 95px;
  }
}

.slide-one {
  font-family: 'Glass Antiqua', cursive;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.first-group {
  align-self: flex-start;
  padding-bottom: 100px;
  text-align: left;
}

.first-group p:nth-child(2) {
  opacity: 0;
  animation-name: dissolve-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.text-coin {
  display: flex;
  flex-wrap: wrap;
}

.coin-image {
  width: 80px;
  height: 80px;
  background-image: url('../Images/coins-fixed.png');
  background-position: center center;
  background-size: cover;
  border: none;
  margin-left: 100px;
}

.second-group {
  align-self: center;
  padding-top: 100px;
}

.second-group p:nth-child(1) {
  opacity: 0;
  animation-name: dissolve-in;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.text-diamond {
  opacity: 0;
  animation-name: dissolve-in;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.diamond-button {
  width: 80px;
  height: 80px;
  background-image: url('../Images/diamond-fixed.png');
  background-position: center center;
  background-size: cover;
  border: none;
  animation-name: pendulum;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes dissolve-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pendulum {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}