.navbar-custom {
  background-color: #343838;
  font-family: 'Gothic A1', sans-serif;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(33,33,33,0.75); 
  box-shadow: 0px 3px 10px 0px rgba(33,33,33,0.75);
}

.navbar-custom a {
  color: #fff;
}

.projects-btn {
  background-color: #00B4CC;
  -webkit-box-shadow: 0px 5px 20px 1px rgba(33,33,33,0.75); 
  box-shadow: 0px 4px 20px 1px rgba(33,33,33,0.75);
}

.nav-link:hover,
.navbar-brand:hover {
  text-decoration: underline;
  color: #00b4cc;
  animation-name: link-hover;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

@keyframes link-hover {
  0% {
    color: #fff;
  }
  100% {
    color: #00b4cc;
  }
}